@import "partials";

.heading{
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
}
.table{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}
.row{
    display: flex;
    background-color: $accent;
    &:nth-child(2n) {
        background-color: $light;
    }
    span{
        width: 250px;
        min-height: 40px;
    }
}
.category{
    text-transform: capitalize;
}
