@import 'partials';

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    h1{
        color: $dark;
        font-weight: 500;
    }
}
.form{
    margin-top: 20px;
    padding: 50px 25px;
    box-shadow: 2px 2px 5px $dark;
    border-top: 5px solid $accent;
    border-radius: 8px;
    label{
        font-weight: 600;
    }
    select, input{
        border: none;
        border-bottom: 1px solid $dark;
        margin-top: 5px;
    }
    select, input{
        width: 240px;
        &:focus{
            outline: none;
            border-bottom: 2px solid $accent;
        }
    }
    textarea:focus{
        outline: none;
        border: 2px solid $accent;
    }
    button{
        color: $light;
        background-color: $dark;
        padding: 5px;
        border-radius: 4px;
        &:hover{
            background-color: $accent;
            border-color: $accent;
        }
        &:active{
            padding: 4px;
        }
    }
}
.formField{
    margin-bottom: 20px;
}